.fake-body {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100vw;
    height: 100vh;
}

.profileBody {
    width: 100%;
    height: 110vh;
    background: url("https://images.pexels.com/photos/669578/pexels-photo-669578.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat;
    background-size: cover;
} 

.profile-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10000;
    width: 100vw;
    height: 100vh;
    background: url("https://images.pexels.com/photos/669578/pexels-photo-669578.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat;
    background-size: cover;
    background-color: rgb(71, 70, 70);
}
button{
    background: #fffefe;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 6px 38px;
    align-self: center;
}
.Change_button{
    background: orangered;
    border: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 6px 38px;
    align-self: center;
}

.section-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;

}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 16px;
    border-radius: 10px;
}

.profile-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
}

.profile-item h1 {
    color: orangered;
    font-weight: normal;
    font-size: 18px;
    width: 100%;
}

.profile-item p {
    font-size: 16px;
    color: #808080;
    width: 100%;

}

.profile-photo {
    overflow: hidden;
    border-radius: 10px 0 0 10px;

}

.profile-photo img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

