.profile{
    /*width: 100%;*/
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 5%;
}
.card-show{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
    width: 100%;
  
    
}
.vWorkout{
    border-radius: 20%;
    width: 100%;
    /* height: 100%; */
    padding: 5%;
   
}