.login input[type="text"] {
    background-color: #181f2900;
    margin-bottom: 15px;
    border-bottom: solid 0.1px #d2d2d2;
    border-radius: 10px;
  }
  #login__password{
    background-color:rgb(241, 188, 188);
  }