@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(res/fonts/Lato-Light.ttf);
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(res/fonts/Lato-Regular.ttf);
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(res/fonts/Lato-Bold.ttf);
}

body {
    font-family: Lato;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  






